[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-model-utils = "*"
pytest = "*"
pytest-cov = "*"
factory-boy = "*"
pytest-django = "*"
djangorestframework = "*"
django-filter = "*"
flit = "*"
doc8 = "*"
django-test-plus = "*"

[requires]
python_version = "3.7"
